<hr>
<div class="container-fluid">

    <br><br>

    <div class="card mb-1 d-block d-sm-none start-50 translate-middle"
        style="width: 100%; top: 15rem;">
        <div class="card-header">
            <div class="mt-1">
                <h6>Επαναφορά κωδικού πρόσβασης</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <form>
                    <div class="mb-3">
                      <label for="newUserPassword" class="col-form-label">Νέος Κωδικός:</label>
                      <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" [(ngModel)]="newUserPassword">
                    </div>
                    <div class="mb-3">
                      <label for="newUserPasswordConfirmation" class="col-form-label">Επαλήθευση νέου κωδικού:</label>
                      <input type="password" class="form-control" id="newUserPasswordConfirmation" name="newUserPasswordConfirmation" [(ngModel)]="newUserPasswordConfirmation">
                    </div>
                    <div class="mb-3">
                      <label *ngIf="(newUserPassword != newUserPasswordConfirmation) && (newUserPassword.length>5 && newUserPasswordConfirmation.length>5)" class="text-danger">Οι κωδικοί πρόσβασης δεν ταιριάζουν.</label>
                    </div>
                    <div class="mb-3">
                      <label *ngIf="!isPassword6Characters && (newUserPassword == newUserPasswordConfirmation) && (!(newUserPassword.length>5) || !(newUserPasswordConfirmation.length>5))" class="text-danger">O κωδικός πρέπει να περιέχει τουλάχιστον 6 χαρακτήρες.</label>
                      <label *ngIf="isNewPasswordTheSame" class="text-danger">{{ errorMessageToShow }}</label>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="UpdateUserPassword()">Ενημέρωση Κωδικού</button>
                  </form>
                <br>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="card mb-1 d-none d-sm-block position-absolute top-50 start-50 translate-middle" style="width: 30rem;">
        <div class="card-header">
            <div class="mt-1">
                <h6>Επαναφορά κωδικού πρόσβασης</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <form>
                    <div class="mb-3">
                      <label for="newUserPassword" class="col-form-label">Νέος Κωδικός:</label>
                      <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" [(ngModel)]="newUserPassword">
                    </div>
                    <div class="mb-3">
                      <label for="newUserPasswordConfirmation" class="col-form-label">Επαλήθευση νέου κωδικού:</label>
                      <input type="password" class="form-control" id="newUserPasswordConfirmation" name="newUserPasswordConfirmation" [(ngModel)]="newUserPasswordConfirmation">
                    </div>
                    <div class="mb-3">
                      <label *ngIf="(newUserPassword != newUserPasswordConfirmation) && (newUserPassword.length>5 && newUserPasswordConfirmation.length>5)" class="text-danger">Οι κωδικοί πρόσβασης δεν ταιριάζουν.</label>
                    </div>
                    <div class="mb-3">
                      <label *ngIf="!isPassword6Characters && (newUserPassword == newUserPasswordConfirmation) && (!(newUserPassword.length>5) || !(newUserPasswordConfirmation.length>5))" class="text-danger">O κωδικός πρέπει να περιέχει τουλάχιστον 6 χαρακτήρες.</label>
                      <label *ngIf="isNewPasswordTheSame" class="text-danger">{{ errorMessageToShow }}</label>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="UpdateUserPassword()">Ενημέρωση Κωδικού</button>
                  </form>
                <br>
            </div>
        </div>
    </div>

</div>