<div class="container-fluid">

    <br><br>

    <div class="card mb-1" style="width: 100%; height: 19rem;">

        <div class="container-fluid">
            <form>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="userEmail" [(ngModel)]="userEmail">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Κωδικός</label>
                    <input type="password" class="form-control" id="inputPassword" name="userPassword" [(ngModel)]="userPassword">
                </div>
                <button type="button" class="btn btn-primary" (click)="Login()">Σύνδεση</button>
            </form>
        </div>
        
    </div>

</div>