<!-- Update Password Modal -->
<ng-template #updatePassword let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Νέος κωδικός πρόσβασης</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="newUserPassword" class="col-form-label">Κωδικός:</label>
        <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" [(ngModel)]="newUserPassword">
      </div>
      <div class="mb-3">
        <label for="newUserPasswordConfirmation" class="col-form-label">Επαλήθευση κωδικού:</label>
        <input type="password" class="form-control" id="newUserPasswordConfirmation" name="newUserPasswordConfirmation" [(ngModel)]="newUserPasswordConfirmation">
      </div>
      <div class="mb-3">
        <label *ngIf="(newUserPassword != newUserPasswordConfirmation) && (newUserPassword.length>5 && newUserPasswordConfirmation.length>5)" class="text-danger">Ο κωδικοί πρόσβασης δεν ταιριάζουν.</label>
      </div>
      <div class="mb-3">
        <label *ngIf="!isPassword6Characters && (newUserPassword == newUserPasswordConfirmation) && (!(newUserPassword.length>5) || !(newUserPasswordConfirmation.length>5))" class="text-danger">O κωδικός πρέπει να περιέχει τουλάχιστον 6 χαρακτήρες.</label>
      </div>
    </form>
    <div *ngIf="isChangePasswordSuccessfull" #changePasswordSuccessfullAlert id="changePasswordSuccessfullAlert" class="alert alert-success text-center" role="alert">
      Επιτυχής ενημέρωση κωδικού πρόσβασης!
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="DismillModal()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="UpdateUserPassword()">Αποθήκευση</button>
  </div>
</ng-template>


<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="package.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      Διαχείριση Αποθήκης
    </a>
    <button *ngIf="isUserLoggedIn" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Μενού</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              routerLink="home">Αρχική</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Τμήματα
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Ορεινής Διάσωσης'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="mountain/material-lines" (click)="SetMountainCategory()">Ορεινής Διάσωσης
                </a>
              </li>

              <li *ngIf="loggedInUserPermissions == 'All'">
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Υγρού Στοιχείου'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="water/material-lines" (click)="SetWaterCategory()">Υγρού Στοιχείου
                </a>
              </li>

              <li *ngIf="loggedInUserPermissions == 'All'">
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Αντιμετώπισης Καταστροφών'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="disaster/material-lines" (click)="SetDisasterCategory()">Αντιμετώπισης Καταστροφών
                </a>
              </li>

              <li *ngIf="loggedInUserPermissions == 'All'">
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Πρώτων Βοηθειών'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="firstAid/material-lines" (click)="SetFirstAidCategory()">Πρώτων Βοηθειών
                </a>
              </li>

              <li *ngIf="loggedInUserPermissions == 'All'">
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Επικοινωνιών - Έρευνας & Τεχνολογίας'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="communications/material-lines" (click)="SetCommunicationsCategory()">Επικοινωνιών -
                  Έρευνας & Τεχνολογίας
                </a>
              </li>

              <li *ngIf="loggedInUserPermissions == 'All'">
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="loggedInUserPermissions == 'All' || loggedInUserPermissions == 'Τμήμα Κοινωνικής Μέριμνας & Ανθρωπιστικών Αποστολών'">
                <a class="dropdown-item text-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                  routerLink="socialCare/material-lines" (click)="SetSocialCareCategory()">Κοινωνικής Μέριμνας &
                  Ανθρωπιστικών Αποστολών
                </a>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" routerLink="history">Ιστορικό</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" routerLink="admin">Κέντρο Διαχείρισης</a>
          </li> -->
          <hr>
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" routerLink=""
              (click)="PrepareToUpdateUserPassword()">Αλλαγή κωδικού πρόσβασης 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" routerLink="auth"
              (click)="Logout()">Έξοδος 
              <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
              </svg></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<br>
<hr>


<!-- <div class="container-fluid"> -->
<router-outlet></router-outlet>
<!-- </div> -->
 