<hr>

<div class="container-fluid">
    <small class="text-muted">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
        Καλώς ήρθες {{ loggedInUser.FirstName }} {{ loggedInUser.LastName }}!
    </small>
</div>

<hr>

<div class="container-fluid">


    <div class="accordion" id="soonToExpireMaterialLinesList">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panel1StayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panel1StayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panel1StayOpen-collapseOne">
                    Προσεχείς Εργασίες
                </button>
            </h2>
            <div id="panel1StayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panel1StayOpen-headingOne">
                <div class="accordion-body">

                    <div class="list-group">
                        <a *ngFor="let soonToExpireMaterial of soonToExpireMaterialLinesList; index as i;"
                            class="list-group-item list-group-item-action"
                            (click)="SetMaterialDetailsToLocalStorage(soonToExpireMaterial)">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ soonToExpireMaterial.MaterialName }}</h6>
                                <small class="text-muted">Τεμ.: {{ soonToExpireMaterial.AvailableMaterialQuantity}} </small>
                            </div>
                            <small class="text-muted">{{ soonToExpireMaterial.StorageCategory}} </small>
                            <p class="mb-1">
                                Λήξη/Επανέλεγχος:
                                <span
                                    [ngStyle]="{color: ((this.todaysDate>materialExpirationDate[i]) ? 'red' : 'black')}">
                                    {{ soonToExpireMaterial.ExpiryDate | date:"dd/MM/yyyy" }}
                                </span>
                            </p>
                        </a>
                    </div>
                    <div *ngIf="soonToExpireMaterialLinesList.length==0" class="text-center text-wrap fw-light">
                        Δεν υπάρχουν υλικά στη λίστα.
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <br>

    <div class="accordion" id="borrowedMaterialLinesList">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panel2StayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panel2StayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panel2StayOpen-collapseOne">
                    Σε Δανεισμό
                </button>
            </h2>
            <div id="panel2StayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panel2StayOpen-headingOne">
                <div class="accordion-body">

                    <div class="list-group">
                        <a *ngFor="let borrowedMaterial of borrowedMaterialLinesList; index as i;"
                            class="list-group-item list-group-item-action"
                            (click)="SetMaterialDetailsToLocalStorage(borrowedMaterial)">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ borrowedMaterial.MaterialName }}</h6>
                                <small class="text-muted">Τεμ.: {{ borrowedMaterial.BorrowedMaterialQuantity}} </small>
                            </div>
                            <small class="text-muted">{{ borrowedMaterial.StorageCategory}} </small>
                            <p class="mb-0">
                                Δανεισμός σε: {{ borrowedMaterial.BorrowedTo }}
                            </p>
                            <p class="mb-1">
                                Ημ/νία Δανεισμού: {{ borrowedMaterial.BorrowedAt | date:"dd/MM/yyyy" }}
                            </p>
                        </a>
                    </div>
                    <div *ngIf="borrowedMaterialLinesList.length==0" class="text-center text-wrap fw-light">
                        Δεν υπάρχουν υλικά στη λίστα.
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <br><br>

</div>

<!-- <img src="palette-view.jpg" class="img-fluid mx-auto d-block position-relative bottom-0 start-0" alt=""> -->