<hr>
<div class="container-fluid">
    <p>{{ storageCategoryDescription }}</p>
</div>

<hr>

<div class="container-fluid">

    <div class="card mb-1" style="width: 100%; height: 19rem;">
        <img [src]="preview" class="card-img-top img-fluid" alt="Προεπισκόπιση Εικόνας">
    </div>

    <div class="mb-3">
        <input type="file" class="form-control form-control-sm" id="formFileSm" (change)="selectFile($event)">
    </div>

    <form>
        <div class="form-group mb-3">
            <label for="materialName">Όνομα Υλικού</label>
            <input type="text" class="form-control" id="materialName" required>
        </div>

        <div class="form-group mb-3">
            <label for="serialNumber">Σειριακός Αριθμός</label>
            <input type="text" class="form-control" id="serialNumber" required>
        </div>

        <div class="form-group mb-3">
            <label for="quantity">Αριθμός Τεμαχίων</label>
            <input type="text" class="form-control" id="quantity" required>
        </div>

        <div class="form-group mb-3">
            <label for="quantity">Θέση που βρίσκεται</label>
            <select class="form-select mb-3" required>
                <option>Αποθήκη</option>
                <option>Κ.ΕΠΙΧ.</option>
                <option>Σκάφος</option>
                <option>Κτίρια Τ.Υ.Σ.</option>
                <optgroup label="Αναμεταδότης">
                    <option>Πήλιο</option>
                    <option>Διμήνι</option>
                    <option>Αργαλαστή</option>
                    <option>Φορητός</option>
                </optgroup>
                <option>Σε δανεισμό</option>
            </select>

            <div class="form-group mb-3">
                <label for="borrowedTo">Όνομα Χρεωμένου</label>
                <input type="text" class="form-control" id="borrowedTo" required>
            </div>

            <div class="form-group mb-3">
                <label for="borrowedDate">Ημερ/νία Δανεισμού</label>
                <input type="date" class="form-control" id="borrowedDate" required>
            </div>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="damagedMaterial">
            <label class="form-check-label" for="damagedMaterial">
                Υλικό σε βλάβη/προς επισκευή
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="deletedMaterial">
            <label class="form-check-label" for="deletedMaterial">
                Υλικό προς διαγραφή λόγω καταστροφής ή απώλειας
            </label>
        </div>

        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary">Αποθήκευση</button>
        </div>
        
    </form>

</div>