<hr>
<div class="container-fluid">
    <p>{{ storageCategoryDescription }}</p>
</div>

<hr>

<div class="container-fluid">

    <div class="card mb-1" style="width: 100%; height: 19rem;">
        <img [src]="preview" class="card-img-top img-fluid" style="object-fit: contain; overflow: hidden;"
            id="photoPreview" alt="Προεπισκόπιση Εικόνας">
    </div>

    <div class="mb-2">
        <!-- <input type="file" class="form-control form-control-sm" id="formFileSm" name="formFileSm"
                [(ngModel)]="materialPhoto" (change)="selectFile($event)"> -->
        <input type="file" class="btn" capture="camera" accept="image/*" id="cameraInput" name="cameraInput"
            [(ngModel)]="materialPhoto" (change)="selectFile($event)">
    </div>

    <div class="text-wrap fw-light text-primary mb-3" style="font-size: small;">
        <div *ngIf="CreatedAt != '' && CreatedAt != null && CreatedAt != undefined">
            Προστέθηκε στις {{ CreatedAt | date:"dd/MM/yyyy '-' HH:mm" }} από {{ CreatedBy }}.
        </div>
        <div *ngIf="LastUpdatedAt != '' && LastUpdatedAt != null && LastUpdatedAt != 'undefined'">
            Τελευταία τροποποίηση στις {{ LastUpdatedAt | date:"dd/MM/yyyy '-' HH:mm" }} από {{ LastUpdatedBy }}.
        </div>
    </div>

    <form ngNativeValidate #form>
        <div class="form-group mb-3">
            <label for="materialName">Όνομα Υλικού*</label>
            <input type="text" class="form-control" id="materialName" name="materialName" [(ngModel)]="materialName"
                required>
        </div>

        <div class="form-group mb-3">
            <label for="serialNumber">Σειριακός Αριθμός*</label>
            <input type="text" class="form-control" id="serialNumber" name="serialNumber"
                [(ngModel)]="materialserialNumber" required>
        </div>

        <div class="form-group mb-3">
            <label for="quantity">Αριθμός Τεμαχίων*</label>
            <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="materialQuantity"
                required>
        </div>

        <div class="form-group mb-3">
            <label for="place">Θέση που βρίσκεται*</label>
            <select class="form-select mb-3" name="place" [(ngModel)]="materialStoringPlace"
                (change)="SetMaterialAsBorrowed(materialStoringPlace)" required>
                <option value="warehouse">Αποθήκη</option>
                <option value="kepix">Κ.ΕΠΙΧ.</option>
                <option value="boat">Σκάφος</option>
                <option value="tys">Κτίρια Τ.Υ.Σ.</option>
                <optgroup label="Αναμεταδότης">
                    <option value="repeater_Pelion">Πήλιο</option>
                    <option value="repeater_Dimini">Διμήνι</option>
                    <option value="repeater_Argalasti">Αργαλαστή</option>
                    <option value="repeater_portable">Φορητός</option>
                </optgroup>
                <option value="borrowed">Σε δανεισμό</option>
            </select>

            <div *ngIf="isMaterialBorrowed" class="form-group mb-3">
                <label for="borrowedTo">Όνομα Χρεωμένου*</label>
                <input type="text" class="form-control" id="borrowedTo" name="borrowedTo"
                    [(ngModel)]="materialBorrowedTo" required>
            </div>

            <div *ngIf="isMaterialBorrowed" class="form-group mb-3">
                <label for="borrowedDate">Ημερ/νία Δανεισμού*</label>
                <input type="date" class="form-control" id="borrowedDate" name="borrowedDate"
                    [(ngModel)]="materialBorrowedAt">
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="expiryDate">Ημερ/νία λήξης/επανελέγχου</label>
            <input type="date" class="form-control" id="expiryDate" name="expiryDate" [(ngModel)]="materialExpiryDate">
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="damagedMaterial" name="damagedMaterial"
                [(ngModel)]="isMaterialDamaged" (click)="RadioSelectMaterialDamagedState(isMaterialDamaged)">
            <label class="form-check-label" for="damagedMaterial">
                Υλικό σε βλάβη/προς επισκευή
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="deletedMaterial" name="deletedMaterial"
                [(ngModel)]="isMaterialDeleted" (click)="RadioSelectMaterialDeletedState(isMaterialDeleted)">
            <label class="form-check-label" for="deletedMaterial">
                Υλικό προς διαγραφή λόγω καταστροφής ή απώλειας
            </label>
        </div>

        <div class="text-wrap fw-light text-primary mb-3" style="font-size: small;">
            <div *ngIf="CreatedAt != '' && CreatedAt != null && CreatedAt != undefined">
                *Υποχρεωτικό πεδίο.
            </div>
        </div>

        <div *ngIf="!isSaveSuccessfull" class="d-grid mb-3">
            <button type="submit" class="btn btn-primary"
                (click)="form.checkValidity()? DecideOnSaveMethod() : null">Αποθήκευση</button>
        </div>
        <div *ngIf="isSaveSuccessfull" class="d-grid mb-3">
            <button type="button" class="btn btn-info">Επιτυχής αποθήκευση!</button>
        </div>

    </form>

</div>